.checkbox-wrapper{
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 2rem;
  background-color: var(--input-base);
  border-radius: 999px;
  & [type="checkbox"]{
    all: unset;
    position: absolute;
    inset: 0;
    cursor: pointer;
  }
  & .toggleSwitch {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    margin: .25rem;
    background-color: var(--input-stroke);
    border-radius: 20px;
    cursor: pointer;
    transition-duration: .4s;
   
  }

  
  &:has(:checked){
    background-color: var(--brand-light);
    & .toggleSwitch{
      background-color: var(--text-heading);
      transform: translateX(130%);
      transition-duration: .4s;
    }
   
   }
}
.check{
  width: 11rem;
  height: 3rem ;
  display: flex;
  gap: 0.75rem;
    & .label-check{
      margin-block: 0.9rem;
    }
     & .checkbox-wrapper{
      margin-block: 0.5rem;
    }
    & .label-check::before{
      content: "Escuro";
     }

    &:has(:checked){

       & .label-check::before{
      content: "Claro";
     }
    }
}

.terms-wrapper{
  display: flex;
  gap: 0.75rem;
  text-align: center;
  color: var(--text-heading);

  & input[type="checkbox"] {
    all: unset;
    inset: 0;
    position: relative;
    cursor: pointer;
    border-radius: .25rem;
    border: 1px solid var(--input-stroke);
    width:  1.25rem;
    height: 1.25rem;
}
  & input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid var(--brand-light);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}
& input[type=checkbox]:checked{
  border: 1px solid var(--brand-light);
}
  & a{
    color: var(--brand-light);
  }
 
}


