input,textarea{
  appearance: none;
  width: 100%; 
  border-radius: .5rem;
  font: var(--body-md);
  background-color: var(--input-base);
  padding: .81rem 1rem;
  border: 2px solid transparent;
  outline: 1px solid var(--input-stroke);
  color: var(--text-heading);
  max-height: 3rem;
}

input:focus{
  border: .125rem solid var(--brand-light);
  outline-offset: .1px;
  
}
input[type="datetime-local"]{
  text-transform: uppercase;
  color: var(--input-placeholder);
 
}
input::-webkit-calendar-picker-indicator {
  opacity: 0
}
 
label{
  font: var(--body-sm);
  color: var(--text-body);
  display: block;
  margin-bottom: .75rem;
}

.flex{
  gap: 1rem;
}