
input,textarea{
  appearance: none;
  width: 100%; 
  
  border-radius: .5rem;
  font: var(--body-md);
  background-color: var(--input-base);
  padding: .75rem 1rem;
  border: 2px solid transparent;
  outline: 1px solid var(--input-stroke);
  color: var(--text-heading);
  
}
select{
  appearance: none;
}

input:focus,
textarea:focus{

  outline: .125rem solid var(--brand-light);
  
}
input[type="datetime-local"]{
  text-transform: uppercase;
  color: var(--input-placeholder);
 
}
input::-webkit-calendar-picker-indicator {
  opacity: 0
}
 
label{
  font: var(--body-sm);
  color: var(--text-body);
  display: block;
  margin-bottom: .75rem;
}
.flex{
  gap: 1rem;
}

textarea,input{
  &[required]{
    outline-color: var(--danger);
    &:valid{
    outline-color:var(--input-stroke);
    }
    &:focus{
    outline-color: var(--brand-light);
    }
    
    &[required] + .error{
      display: flex;
      align-items: center;
      gap: .25rem;
      font: var(--body-xs);
      color: var(--danger);
      margin-top: .5rem;
      
      }
      &:valid + .error{
      display: none;
      
      }
  }
 
    
}
